.App {
  text-align: center;
}
.timer-display {
  display: block;
  padding: 10px 20px;
}

.timer-container {
  text-align: center;
  border: 1px solid gray;
  padding: 20px;
}

.timer-container .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
